* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(143, 20, 20);
}

#content {
    margin: 0 auto;
    width: 1020px;
    display: flex;
    flex-wrap: wrap;
}

img {
    border: none;
    border-radius: 20px;
    margin: 15px;
    width: 310px;
    height: 500px;
}

button {
    display: block;
    margin: 15px auto;
    padding: 20px 50px;
    font-size: 1.2rem;
    color: rgb(143, 20, 20);
    border: none;
    border-radius: 10px;

}